@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #202020;
    color: #DEDEDE;
    font-family: 'Manrope', sans-serif;

}

header {
    background-color: #2D2D2D;
    background-size: auto;
    height: 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    overflow: hidden;


}

.logo_header {
    max-width: 1248px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;


}

.logo {
    filter: invert(100%);
    width: 200px;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
}

.navigation {
    margin-top: 30px;
    margin-right: 6.8125rem;
}


#check {
    opacity: 0;
}

.btnMenu {
    display: none;
    align-items: center;
    cursor: pointer;
    position: fixed;
    width: 40px;
    height: 40px;
    right: 40px;
    top: 15px;
    z-index: 11;
}

.btnMenu>span,
.btnMenu>span::before,
.btnMenu>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #202020;
    transition: 0.25s;
}

.btnMenu>span::before {
    content: '';
    top: -10px
}

.btnMenu>span::after {
    content: '';
    top: 10px
}

.navigation a {
    text-decoration: none;
    color: #DEDEDE;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 1.125rem;
    margin-left: 60px;
    cursor: pointer;
}


#check:checked~.btnMenu>span {
    transform: rotate(45deg);

}

#check:checked~.btnMenu>span::before {
    top: 0;
    transform: rotate(0);
}

#check:checked~.btnMenu>span::after {
    top: 0;
    transform: rotate(95deg);
}

#check:checked~.menuBox {
    visibility: visible;
    right: 0;
}

.navigation a:hover {
    color: #969696;
    transition: .5s;
    text-shadow: 0 0 2px;
}

.greating {
    display: flex;
    margin: 0 auto 0 auto;
    max-width: 1248px;
    justify-content: space-between;
    padding-top: 209px;

}

.greatingTitle {
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: -0.5px;
    max-width: 730px;
    transform: scale(0);
    opacity: 0;

}

.greatingTitle._active {
    transition: 0.8s;
    transform: scale(1);
    opacity: 1;

}

.name {
    color: #ffea05ab;
}

.wish {
    color: #ff4545;
}

.greatingText {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.5px;
    color: #959595;
    max-width: 520px;
    margin-top: 24px;
    min-height: 108px;
}

.btnEmail {
    border: o;
    background-color: #9D9D9D;
    width: 400px;
    height: 64px;
    border-radius: 4px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    margin-top: 64px;
}

.btnEmail img {
    margin-right: 16px;
}

.btnEmail:hover {
    background-color: #bdbdbd;
    transition: 0.3s;
}

.btnEmail:active {
    transform: scale(0.95);
}

.myFoto {
    max-width: 400px;
    height: auto;
    border-radius: 100%;
}

.work {
    max-width: 1280px;
    margin: 0 auto;

}

.featuredWork {
    display: flex;
    align-items: center;
    margin: 152px auto 0 auto;
}

.featuredWork div {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #DEDEDE;
    opacity: 0.7;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-left: 32px;
}

.workRow {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.workCol1 {
    perspective: 1000px;
}

.workCol2 {
    margin-top: 138px;
    perspective: 1000px;
}

.works {
    margin: 12px;
    filter: brightness(90%);
    width: calc(100% - 24px);
    height: auto;
    transform: rotateY(90deg);
    transform-origin: left;
    opacity: 0;
    transition: 0.3s;
}

.workCol2 .works {
    transform: rotateY(-90deg);
    transform-origin: right;
    opacity: 0;
}

.works._active:hover {
    filter: none;
    transition: 0.5s;
}

.works._active {
    transform: rotateX(0deg);
    transition: 0.5s;
    opacity: 1;
}

.visual {
    max-width: 1280px;
    margin: 0 auto;
}

.visualTitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: -0.5px;
    margin-top: 240px;
}

.vvisualRow {
    margin-top: 65px;
    margin: 65px 0px 0px 0px;
    perspective: 2000px;
    display: flex;
    flex-wrap: wrap;

}

.vvisualRow img {
    margin: 14px;
    position: relative;
    width: calc(33.333% - 28px);
    opacity: 0;
    top: -70px;


}

.vvisualRow ._active:nth-child(1) {
    transition: all 0.8s ease 0.2s;
}

.vvisualRow ._active:nth-child(2) {
    transition: all 0.8s ease 0.3s;
}

.vvisualRow ._active:nth-child(3) {
    transition: all 0.8s ease 0.4s;
}

.vvisualRow ._active:nth-child(4) {
    transition: all 0.8s ease 0.5s;
}

.vvisualRow ._active:nth-child(5) {
    transition: all 0.8s ease 0.6s;
}

.vvisualRow ._active:nth-child(6) {
    transition: all 0.8s ease 0.8s;
}

.vvisualRow img._active {
    opacity: 1;
    transition: 0.8s;
    top: 0px;

}

.projects {
    max-width: 1280px;
    margin: 0 auto;
}

.projecsTitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: -0.5px;
    margin-top: 240px;
}

.projectsImg {
    margin-top: 66px;
    display: flex;
    flex-wrap: nowrap;
}

.projectsImg img {
    margin: 12px;
    width: calc(33.333% - 24px);
}

.contacts {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.contactsTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: -0.5px;
    margin-top: 240px;
    margin-bottom: 24px;
}

.contactsContent {
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.5px;
    max-width: 479px;
    margin: 0 auto;
}

hr {
    margin: 119px 0 0 0;
}

footer {
    max-width: 1280px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.madeBY {
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: -0.5px;
    color: #959595;
}

.madeBY span {
    color: #ECECEC;
}

.socials a {
    margin-left: 43px;
}

.modal {
    display: none;
    max-width: 750px;
    min-width:600px ;
    max-height: 800px;
    min-height: 700px;
    position: fixed;
    z-index: 20;
    top: 20%;
    left: 25%;
    background-color: #959595;

}
.modal h1{
    font-size: medium;
}

.modalTutle {
    font-size: 20px;
    text-align: center;
}

.modalClose {
    content: '';
}

.modalClose::after {
    content: '';
    color: #ffffff;
    width: 30px;
    height: 3px;

}

.modalClose::before {
    content: '';
    color: #ffffff;
    width: 30px;
    height: 3px;
    top: 10px;
}

.modalSocials {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.modalForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;

}

.formName {
    width: 200px;
    height: 25px;
    border: 0;
    border-radius: 5px;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.formName:focus {
    box-shadow: 1px 1px 5px #ffffff;
    outline: none;
}

.formEmail {
    width: 350px;
    height: 25px;
    border: 0;
    border-radius: 5px;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.formEmail:focus {
    box-shadow: 1px 1px 5px #ffffff;
    outline: none;
}

.formText {
    width: 100%;
    height: 100px;
    border: 0;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.formText:focus {
    box-shadow: 1px 1px 5px #ffffff;
    outline: none;
}

.submit {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 15px;
    color: #ffffff96;
    text-shadow: 0px 0px 4px #202020;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    background-color: #19b11b;
    font-size: 20px;
    letter-spacing: 7px;
    transition: 0.3s;
    margin-top: 10px;
    box-shadow: 0px 0px 5px #ffffff;

}

.submit:hover {
    background-color: #19b11b96;
    transform: scale(1.01);
}

.submit:active {
    background-color: #19b11b;
    transform: scale(0.99);
    transition: 0.05s;
    box-shadow: 0px 0px 30px #19b11b;
    text-shadow: none;
}

.reset {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: #e76000;
    box-shadow: 0px 0px 5px #b54b00;
    transition: 0.3s;
    margin-bottom: 10px;
}

.reset:active {
    transform: scale(0.99);
    box-shadow: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, .7);
}

@media (max-width: 1249px) {
    

   
    .workCol2 .workCol1 {
        margin: 0 auto;
    }
   
}

@media (max-width: 833px) {
    .btnMenu {
        display: flex;
        height: 20px;
    }
    header{
        height: 50px;
    }
    .logo{
        height: 25px;
        width: auto;
    }
    .greating{
        padding-top: 100px;
    }
    .greatingTitle{
        font-size: 30px;
        margin: 0 20px;
    }
    .greatingText{
        font-size: 20px;
    }
    .navigation {
        background-color: #2D2D2D;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 40px;
        right: -250px;
        margin: 0;
        transition: .5s;
        z-index: 101;
        background-color: #2D2D2D;
    }

    .navigation a {
        padding: 25px;
        margin: 0;
    }
    .featuredWork {
        margin-top: 75px;
    }
    .workCol2 {
        margin-top: 75px;
    }
    .visualTitle {
        margin-top: 75px;
        margin-bottom: 33px;
    }
    
    .visualImg{
        text-align: center;
    }
    .vvisualRow img{
     margin: 7px;
     width:calc(33.3333% - 14px) ;
    }

    .greating {
        display: block;
        text-align: center;
    }

    .greatingText {
        max-width: 700px;
    }
    .projecsTitle{
        margin-top: 120px;
    }
    .contactsTitle{
        margin-top: 120px;
    }
    .modal{
        top: 0px;
        left: 0px;
        max-width: 740px;
        min-width:300px ;
        height: 100%;
    }
    .formEmail{
        width: auto;
    }
}

@media (max-width: 576px) {
    .myFoto {
        width: 250px;
        height: auto;
        margin-top: 66px;
    }

    .btnEmail {
        width: 200px;
        margin: 15px auto;
    }

    .greatingText {
        height: 150px;
    }
    .header {
        width: 350px;
    }
    .works{
        width: calc(100% - 12px);
        margin: 6px;
    }

    .visualTitle {
        margin-bottom: 66px;
    }


    footer {
        display: block;
    }

    .socials {
        text-align: center;
    }

    .socials img {
        margin-top: 30px;
        width: 20px;
        height: auto;
        margin-left: 0px;
    }

    .madeBY {
        text-align: center;
    }

}